<div class="cardBox">
    <% channels.forEach(channel=> { %>
        <a class="card" href="/channel/<%= channel.id %>">
            <div class="cardName">
                <%= channel.name %>
            </div>
            <div class="iconBx">
                <img src="<%= channel.logo_url %>">
            </div>
        </a>
        <% }); %>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const searchInput = document.getElementById("searchInput");
        const cards = document.querySelectorAll(".card");

        searchInput.addEventListener("input", (e) => {
            const filter = e.target.value.toLowerCase();
            cards.forEach((card) => {
                const channelName = card.querySelector(".cardName").innerText.toLowerCase();
                if (channelName.includes(filter)) {
                    card.style.display = "block";
                } else {
                    card.style.display = "none";
                }
            });
        });
    });
</script>