<div class="cardBox">
    <div class="card">
        <div>
            <div class="cardName">Television Alternativa</div>
        </div>

        <div class="iconBx">
            <img
                src="https://televisionalternativa.com.ar/assets/custom/Tienda-Online/Solicitud%20de%20acceso/logo.jpg">
        </div>
    </div>
</div>