<div class="container">

    <div class="video">
        <video autoplay loop muted>
            <source src="video/video1.mp4" type="video/mp4">
        </video>
    </div>

    <section class="wrapper">
        <h3>Encontrá, viví y reviví todo lo que te gusta</h3>
        <p>TV en vivo, música, deportes, películas y series online</p>
    </section>


    <section class="comparator" id="about">
        <div><img src="img/pasion.jpg"></div>
        <div class="comparator-list">
            <h3>Encontrás</h3>
            <ul>
                <li><span><i class="ri-smartphone-line"></i> Disponibilidad para todos los dispositivos</span></li>
                <li><span><i class="ri-tools-line"></i> Mantenimiento y estabilidad de contenido</span></li>
                <li><span><i class="ri-currency-line"></i> Accesible para tu economia</span></li>
                <li><span><i class="ri-mail-fill"></i> Soporte tecnico garantizado</span></li>
                <li><span><i class="ri-add-circle-line"></i></span> Mucho más</li>
            </ul>
        </div>
    </section>

    <section class="wrapper futbol">
        <h3>¡Viví todo lo que te gusta!</h3>
        <a href="https://tienda.televisionalternativa.com.ar">Ir a la tienda</a>
    </section>

    <section class="comparator">
        <div class="comparator-content">
            <h3>Conocé y viví la experiencia</h3>
            <p>
                Disfrutá TV en vivo, pelis, series, radio, música, packs de contenidos, ¡y más! <b>¡Elejí la
                    experiencia
                    que más se adapte a vos!</b> Television Alternativa con deco e instalación o también StreamSonic
                100%
                digital sin deco ni instalación.
            </p><br>
            <a href="https://tienda.televisionalternativa.com.ar">Conocer productos</a>
        </div>
        <div><img src="img/mundo_conectado.jpg"></div>
    </section>
</div>